.max-width-1 {
    width: 85vw;
}

.m-auto {
    margin: 0 auto;
}

.btn {
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    color: white;
    background: transparent;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.align-center {
    align-items: center;
}
.mb-20{
    margin-bottom: 20px;
}
.pera1{
    margin-bottom: 20px;
}